[Desktop Entry]
Name=EternalModManager
Comment=Cross platform mod manager for DOOM Eternal.
Type=Application
Exec=eternal_mod_manager
Terminal=false
Categories=Utility;GTK;
Icon=com.powerball253.eternalmodmanager
StartupWMClass=com.powerball253.eternalmodmanager
