[Desktop Entry]
Name=EternalModManager
Comment=Cross platform mod manager for DOOM Eternal.
Exec=eternalmodmanager
Type=Application
Icon=${SNAP}/meta/gui/eternalmodmanager.png
Categories=Utility;
